# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
*venv/
*.env/
*.venv/

# Environments
*.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Images
*.packaging

# Reports
*.pdf