{% extends "base.html" %}
{% block content %}

<div class="max-w-5xl mx-auto grid md:grid-cols-2 gap-8">

  <div class="glass p-6 rounded-2xl space-y-4">

    <video id="video" autoplay class="rounded-xl w-full"></video>

    <!-- Reference -->
    <div class="space-y-2">
      <button id="captureRef"
        class="w-full py-3 bg-emerald-600 rounded-xl">
        Capture Reference Face
      </button>

      <input id="uploadRef" type="file" accept="image/*"
        class="w-full text-sm text-gray-300" />

      <img id="refPreview"
        class="hidden rounded-xl w-full border border-white/10" />
    </div>

    <!-- Live -->
    <div class="space-y-2">
      <button id="captureVerify"
        class="w-full py-3 bg-indigo-600">
        Capture Live & Verify
      </button>

      <input id="uploadLive" type="file" accept="image/*"
        class="w-full text-sm text-gray-300" />

      <img id="livePreview"
        class="hidden rounded-xl w-full border border-white/10" />
    </div>

  </div>


  <div class="glass p-6 rounded-2xl">
    <h2 class="text-xl font-semibold mb-4">Result</h2>
    <div id="result" class="space-y-4"></div>
  </div>

</div>

<script src="{{ url_for('static', filename='js/face.js') }}"></script>
{% endblock %}
